<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.keehoo.thetotallynewinsurancereminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.MainActivity">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.DisplayDataActivity" />

        <service
            android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.NotificationService"
            android:exported="false" />

        <receiver android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="${applicationId}.BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

        <activity android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.SetNotificationActivity" />
        <activity android:name="com.multivonex.keehoo.thetotallynewinsurancereminder.ListOfCarsActivity"></activity>
    </application>

</manifest>